<html>
    <head>

    </head>

    <body>

        <form method="POST" action="/editUser">

            Name: <input type="text" placeholder="Name" name="name" value="<%= user.name %>">

            Gender: <select name="gender" value="<%= user.gender %>">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
            
            Date Of Birth: <input type="date" placeholder="Name" name="dob" value="<%= user.dob %>">
            
            Phone No.: <input type="number" placeholder="Phone" name="phone" value="<%= user.phone %>">
            
            Email: <input type="email" placeholder="email" name="email" value="<%= user.email %>">
            
            Current Address: <input type="text" placeholder="address" name="cur_add" id="cur_add" value="<%= user.cur_add %>">
            
            <input type="checkbox" id="check" onchange= "checkAdd()">
            Check if Permanent and current address are same

            Permanent Address: <input type="text" placeholder="Permanent Address" name="per_add" id="per_add" value="<%= user.per_add %>">

            College: <input type="text" placeholder="College" name="college" value="<%= user.college %>">

            Branch: <input type="text" placeholder="Branch" name="branch" value="<%= user.branch %>">
            
            <button name="id" value="<%= user.id %>">Submit</button>
        </form>

        <script> 
            function checkAdd() 
            { 
              if (document.getElementById("check").checked) 
              { 
                // console.log(document.getElementById('cur_add').value)
                document.getElementById('per_add').value = document.getElementById('cur_add').value; 
              } 
                  
              else
              { 
                document.getElementById('per_add').value=""; 
                document.getElementById('per_add').value=""; 
              } 
            } 
        </script> 

    </body>
</html>